In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
hotel2018 = pd.read_csv('./hotel2018.csv')
hotel2019 = pd.read_csv('./hotel2019.csv')
hotel2020 = pd.read_csv('./hotel2020.csv')

In [26]:
hotel2018.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,6/5/2018
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,22/4/2018
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,23/6/2018
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,11/5/2018
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,29/5/2018

In [6]:
hotel2019.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,20,2019,January,1,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,119.0,0,0,Canceled,22/12/2018
1,Resort Hotel,1,76,2019,January,1,1,1,2,2,...,No Deposit,240.0,NaN,0,Transient,57.9,0,1,Canceled,20/12/2018
2,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.0,0,0,Canceled,16/11/2018
3,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.0,0,0,Canceled,16/11/2018
4,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.0,0,0,Canceled,16/11/2018

In [24]:
hotel2020.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,74,2020,January,1,1,1,0,2,...,No Deposit,5.0,NaN,0,Transient,57.60,0,0,Canceled,20/10/2019
1,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,4/12/2019
2,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,11/11/2019
3,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,4/12/2019
4,Resort Hotel,1,71,2020,January,1,1,2,2,1,...,No Deposit,241.0,NaN,0,Transient,32.22,0,1,Canceled,29/10/2019

In [28]:
hotel2018.shape

'(21996, 32)'

In [29]:
hotel2019.shape

(79264, 32)

In [30]:
hotel2020.shape

(40687, 32)

In [36]:
raw_data = pd.concat([hotel2018, hotel2019, hotel2020]).reset_index(drop=True)

In [37]:
raw_data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,6/5/2018
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,22/4/2018
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,23/6/2018
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,11/5/2018
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,29/5/2018

In [38]:
raw_data.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
141942,City Hotel,1,1,2020,February,5,1,0,0,1,...,No Deposit,NaN,153.0,0,Transient,0.0,0,1,No-Show,1/2/2020
141943,City Hotel,1,31,2020,July,29,16,2,0,1,...,No Deposit,NaN,NaN,0,Transient,135.0,0,2,No-Show,16/7/2020
141944,City Hotel,1,25,2020,May,18,6,2,1,1,...,No Deposit,NaN,450.0,0,Transient,125.0,0,0,No-Show,6/5/2020
141945,City Hotel,1,6,2020,July,29,17,1,0,1,...,No Deposit,NaN,238.0,0,Transient,65.0,0,0,No-Show,17/7/2020
141946,City Hotel,1,0,2020,August,31,2,0,2,1,...,No Deposit,NaN,40.0,0,Transient,65.0,0,1,No-Show,2/8/2020

In [39]:
raw_data.shape

(141947, 32)

In [40]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141947 entries, 0 to 141946
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           141947 non-null  object
 1   is_canceled                     141947 non-null  int64
 2   lead_time                       141947 non-null  int64
 3   arrival_date_year               141947 non-null  int64
 4   arrival_date_month              141947 non-null  object
 5   arrival_date_week_number        141947 non-null  int64
 6   arrival_date_day_of_month       141947 non-null  int64
 7   stays_in_weekend_nights         141947 non-null  int64
 8   stays_in_week_nights            141947 non-null  int64
 9   adults                          141947 non-null  int64
 10  children                        141939 non-null  float64
 11  babies                          141947 non-null  int64
 12  meal                            141947 non-null  object
 13  country                         141322 non-null  object
 14  market_segment                  141947 non-null  object
 15  distribution_channel            141947 non-null  object
 16  is_repeated_guest               141947 non-null  int64
 17  previous_cancellations          141947 non-null  int64
 18  previous_bookings_not_canceled  141947 non-null  int64
 19  reserved_room_type              141947 non-null  object
 20  assigned_room_type              141947 non-null  object
 21  booking_changes                 141947 non-null  int64
 22  deposit_type                    141947 non-null  object
 23  agent                           122392 non-null  float64
 24  company                         8125 non-null    float64
 25  days_in_waiting_list            141947 non-null  int64
 26  customer_type                   141947 non-null  object
 27  adr                             141947 non-null  float64
 28  required_car_parking_spaces     141947 non-null  int64
 29  total_of_special_requests       141947 non-null  int64
 30  reservation_status              141947 non-null  object
 31  reservation_status_date         141947 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 34.7+ MB