In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Scientific Calculation
from scipy import stats

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
raw_data = pd.read_csv('./amazon_reviews_5000.csv')

In [3]:
raw_data.head()

,Unnamed: 0,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [4]:
raw_data.shape

(5000, 11)

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   Id                      5000 non-null   int64
 2   ProductId               5000 non-null   object
 3   UserId                  5000 non-null   object
 4   ProfileName             5000 non-null   object
 5   HelpfulnessNumerator    5000 non-null   int64
 6   HelpfulnessDenominator  5000 non-null   int64
 7   Score                   5000 non-null   int64
 8   Time                    5000 non-null   int64
 9   Summary                 5000 non-null   object
 10  Text                    5000 non-null   object
dtypes: int64(6), object(5)
memory usage: 429.8+ KB

In [6]:
raw_data.describe()

,Unnamed: 0,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,2499.500000,2500.500000,1.580200,2.067200,4.150400,1.294930e+09
std,1443.520003,1443.520003,5.584533,6.288672,1.326549,4.802063e+07
min,0.000000,1.000000,0.000000,0.000000,1.000000,9.617184e+08
25%,1249.750000,1250.750000,0.000000,0.000000,4.000000,1.271376e+09
50%,2499.500000,2500.500000,0.000000,1.000000,5.000000,1.309219e+09
75%,3749.250000,3750.250000,2.000000,2.000000,5.000000,1.330301e+09
max,4999.000000,5000.000000,187.000000,216.000000,5.000000,1.351210e+09

# __2.Data preperation__

In [7]:
data = raw_data.copy(deep=True)

In [8]:
for index, value in enumerate(data.columns):
    print(index, value)

0 Unnamed: 0
1 Id
2 ProductId
3 UserId
4 ProfileName
5 HelpfulnessNumerator
6 HelpfulnessDenominator
7 Score
8 Time
9 Summary
10 Text

In [11]:
data = data.iloc[:,[9, 7]]