# __Import Packages__

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

# __Data Collection and Analysis__

In [2]:
# loading the dataset into a pandas dataframe
data = pd.read_csv('./diabetes.csv')

In [3]:
# first five rows of the dataset
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# No.of rows and columns in this dataset
data.shape

(768, 9)

In [5]:
# statistical measures of the dataset
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
# distribution of the target data
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 ---> Non_Diabetic
1 ---> Diabetic

In [7]:
data.groupby(by=['Outcome']).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# __Data Preprocessing__

In [8]:
# seperating the data into features and target
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [9]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [10]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

## Data Standardization

In [11]:
scale = StandardScaler()
scaled_data = scale.fit_transform(X)

## train and test split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    scaled_data, 
    y, 
    test_size=0.20, 
    stratify=y, 
    random_state=2
)

In [13]:
print('xtrain shape: ', X_train.shape)
print('xtest shape: ', X_test.shape)
print('ytrain shape: ', y_train.shape)
print('ytest shape: ',y_test.shape)

xtrain shape:  (614, 8)
xtest shape:  (154, 8)
ytrain shape:  (614,)
ytest shape:  (154,)

# Training the Model

In [14]:
classifier = svm.SVC(kernel='linear')

In [15]:
# training the data into support vector machine classifier
classifier.fit(X_train, y_train)

SVC(kernel='linear')

# Model Evaluation

In [16]:
# accuracy score on training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [17]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [18]:
# accuracy score on testing data
X_test_prediction = classifier.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [19]:
print('Accuracy score of the training data : ', testing_data_accuracy)

Accuracy score of the training data :  0.7727272727272727

# Making a Predictive System

In [20]:
input_data = [4,110,92,0,0,37.6,0.191,30]

# changing the input data into numpy array
input_data_as_array = np.asarray(input_data)

# reshaping the array as we are predicting for one instance
input_data_reshape = input_data_as_array.reshape(1, -1)

# standardizing the data
input_data_standardize = scale.transform(input_data_reshape)
# print(input_data_standardize)

# predicting the label
prediction = classifier.predict(input_data_standardize)
# print(prediction)

if prediction == 0:
    print('The person is not Diabetic')
else:
    print('The person is Diabetic')

The person is not Diabetic

# saving the model

In [21]:
import pickle

filename = 'trained_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [22]:
# loading the saved model

loaded_model = pickle.load(open('./trained_model.sav', 'rb'))

In [23]:
input_data = [4,110,92,0,0,37.6,0.191,30]

# changing the input data into numpy array
input_data_as_array = np.asarray(input_data)

# reshaping the array as we are predicting for one instance
input_data_reshape = input_data_as_array.reshape(1, -1)

# predicting the label
prediction = loaded_model.predict(input_data_reshape)
# print(prediction)

if prediction == 0:
    print('The person is not Diabetic')
else:
    print('The person is Diabetic')

The person is Diabetic